input{
    flex: 1;
    // width: 100%;
    border:none;
    font-size: 18px;
    padding: 16.8px;
    border-radius: 7px;
    background: #F1F1F2;
    color: #848489;
    outline: none;
}
.dispo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    div{
        position: relative;
        span{
            font-size: 20px;
            position: absolute;
            bottom: 12px;
            right: 12px;
        }
    }
}

label{
    font-size: 16px;
    padding-bottom: 10px;
}
.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    min-height: 760px;
    height: 100vh;
}
.contaiers{
    display: flex;
    flex-direction: column;
    max-width: 545px;
    padding: 10px;
    margin-top: 20px;

}
.wid{
width: 256px;
margin: 0 auto;
}
button{
    width: 100%;
    font-size: 24px;
    padding: 10px;
    background: #A1E6E0;
    color: white;
    border-radius: 7px;
    border: none;
    font-family: "SF Pro Display";
    font-weight: 500;
}
.sadie{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
@media only screen and (max-width: 900px) {
  .dispo{

    flex-direction: column;
  }

  }