.indi{
    background-color: black;
    color: white;
}
.checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    margin-right: 8px;
    vertical-align: middle;
    pointer-events: none;
  }
  
  .rowerist{
    .row{
        text-align: left;
        display: flex;
        flex-direction: column;
        h2{
            // background-color: #A1E6E0;
            // padding: 30px;
            // color: white;
            // font-family: 'SF Pro Display';
            // margin: 0;
            // text-transform: capitalize;
            // letter-spacing: 1px;
            width: 90%;
            margin: 0 auto;
        }
        .h2{
            background-color: #A1E6E0;
            padding: 30px 0px;
            color: white;
            font-family: 'SF Pro Display';
            margin: 0;
            text-transform: capitalize;
            letter-spacing: 1px;
        }
        .description{
            font-size: 18px;margin: 20px auto;
            width: 90%;
        }
        
        .page-content{
         height: 100%;
         display: flex;
         flex-direction: column;
         width: 90%;
         margin: 0 auto;
         align-items: center;
         justify-content: space-between;
         .clisco{
            display: flex;
            width: 100%;
            flex-direction: column;
            text-align: left;
            .heading{
   
            }
            .content{
             margin: 0;
             
            img{
                
                width: 300px;
                height: 300px;
                }}
            ol{ padding: 0;
                list-style-type: none;
                li{
                    text-align: initial;
                }
            }
            .sd{
                list-style-type: disc;
                padding: 0px 0px 0px 20px;
                li{
                    text-align: initial;
                }
            }
         }
         .button{
            margin: 10px 0px 10px 10px;
            max-width: 145px;
            font-size: 14px;
            width: 95%;
         }
        }
    }
}