.container{
    flex: 1 1;
    display: flex;
    width: 100% !important;
    height: 100%;
    flex-direction: column;
 
    .employee-data{
        min-height: 100px;  
        background: #F1F1F2;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 8px;
        .cross-on-hover {
            position: relative;
          }
          
          .cross-icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
          }
          
          .cross-on-hover:hover .cross-icon {
            opacity: 1;
          }
    }
    .assignsop{
        width: max-content;
    margin: 0 auto;
    font-size: 16px;
    }
    .contaiers {
        display: flex;
        flex-direction: column;
        max-width: 545px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .moon{
        width: 100%;
        height: 100%;
    }
    .codex-editor__redactor{
        padding: 0 !important;
    }
    textarea{

        border: none;
        font-size: 18px;
        padding: 10.8px 0px 10px 22px;
        border-radius: 7px;
        background: #F1F1F2;
    //     font-size: 18px;
        font-family: 'SF Pro Display';
        color: #848489;
        outline: none;
    //     height: 130px;
    //     width: -webkit-fill-available;
    // margin: 0 auto;

    }
    .container-assign{
        display: flex;
        width: 100%;
        gap: 40px;
        .group{
            display: flex;
            width: 50%;
            text-align: left;
            align-items: flex-start;
            div{
                position: relative;
                span{
                    font-size: 20px;
                    position: absolute;
                    bottom: 12px;
                    right: 12px;
                }
                .chakra-select__icon-wrapper{
                    display: none;
                }
                select{
                    width: 100%;
                    border:none;
                    font-size: 18px;
                    padding: 16.8px;
                    border-radius: 7px;
                    background: #F1F1F2;
                    color: #848489;
                    outline: none;
                    div{
                        display: none;
                    }
                }
            }
        }
    }
    .container-sop{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        height: 80%;
        width: 90%;
        margin: 0 auto;
        h3{
            font-size: 32px;
            margin: 0;
            padding: 30px 0px;
        }
        .form{
            width: 90%;
            .sikna{
                display: flex;justify-content: space-between;
                gap: 25px;
                flex-direction: column;
                .group{
                    display: flex;
                    flex-direction: column;

                    // align-items: center;
                    gap: 20px;
                    label{
                        padding: 0;
                        font-size: 18px;
                    }
                    .text-area{
                        height: 150px !important;
                    }
                }
                // width: 90%;margin:0 auto;
         label{
            text-align: left;
         }
                 div{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    // .group{
                    //     display: flex;
                    //     width: 50%;
                    //     align-items: flex-start;
                    //     div{
                            .chakra-select__icon-wrapper{
                                display: none;
                            }
                            select{
                                width: 100%;
                                border:none;
                                font-size: 18px;
                                padding: 16.8px;
                                border-radius: 7px;
                                background: #F1F1F2;
                                color: #848489;
                                outline: none;
                                div{
                                    display: none;
                                }
                        //     }
                        // }
                    }
                    // margin-bottom: 20px;
                    input{
                        // width: 90%;
                    }
                 }
            }
        }
        .sop-container-row{
            // flex: 1;
            display: flex;
            align-items: center;
            justify-content:center ;
            width: 100%;
            gap: 70px;
            a{
                flex: 1;
                width: 100%;
            }
            button{
                width: 100%;
                font-size: 24px;
                padding: 10px;
                background: #A1E6E0;
                color: white;
                border-radius: 7px;
                border:none;
                font-family: 'SF Pro Display';
                font-weight: 500;
            }
            .input-container{
                flex: 1;
                width: 100%;
                position: relative;
                span{
                    position: absolute;
                    color: #848489;
                    font-size: 25px;
                    left: 5px;
                    top: 13px;
                }
            }
          
            input{
                flex: 1;
                width: 100%;
                border:none;
                font-size: 24px;
                padding: 10.8px 0px 10px 42px;
                border-radius: 7px;
                background: #F1F1F2;
                color: #848489;
                outline: none;
            }
        } 
        .card-sop{
            // box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
            // border-radius: 5px;
            // // flex: 1 1;
            // flex-direction: column;
            // height: 100%;
            // min-height: 65%;
            // display: flex;margin-top: 30px;
            // width: 100%;
            // align-items: flex-start;
            
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex-direction: column;
    height: 100%;
    min-height: 65%;
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
            .row{
                display: flex;
                
                // flex: 1;
                padding: 10px 0px;
                width: 100%;
                align-items: center;
                border-bottom: 2px solid  #EBEBEB;
                gap: 15px;
                .box{
                    display: flex;
                    flex:1;
                    align-items: center;
                    justify-content: space-between;
                    gap: 5px;
                .left{
                    display: flex;
                    flex:1;
                    align-items: center;
                    gap: 15px;
                    width: 70%;
                    margin: 0px 0px 0px 15px;
                }
                }
                .hidden-box{
                    display: flex;
                    gap: 10px;
                    button{
                        width: 100px;
                        background-color: #FF6961;
                        font-size: 14px;
                    }
                    .edit{
                        background-color: #A1E6E0;
                    }
                }
                .danger{
                    color: #FF6961; 
                    margin: 0px 25px 0px 0px;
                    font-size: 30px;
                }
                .dots{
                    width: 10px;
                    margin: 5px 25px 0px 0px;
                
                    height: 32px;
                    cursor: pointer;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .icon-container{
                    background: #F1F1F2;
                    border-radius: 6px;
                    padding: 10px;
                    img{
                        width: 40px;
                        object-fit: scale-down;
                        height: 40px;
                    }
                }
                .circle-box{
                    display: flex;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 30%;
                }
                .detail-heading{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;cursor: pointer;
                    justify-content: flex-start;
                    h5{
                        font-size: 18px;
                        margin: 0px;
                        text-align: left;
                        color: #848489;
                    }
                    p{
                        color: #848489;
                        font-size: 16px;
                        margin: 0px;
                        text-align: left;
                        font-family: 'SF Pro Display';
                    }
                }
                .circle{
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    background-color: #A1E6E0;
                }
            }
        }
    }
}


@media only screen and (max-width: 900px) {
    .sop-container-row{
        flex-direction: column;
        gap: 10px !important;
        button{
            flex: 1;
            width: 92%;
        }
    
    }
    
    .sop-container-row input{
      width: -webkit-fill-available !important;

    }
     .card-sop .row .circle-box {
    width: 0% !important;
    }

    .card-sop{
        .circle{
            display: none;
        }
    }
  }

.sigma{
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
    flex-direction: column;
    color: #848489;

    .sig{
        flex: 1 1;
        padding: 10px;
        margin: 50px;
        border: 1px solid;
        text-align: initial;
        border-radius: 16px;
        div{ 

            img{
                
            width: 300px;
            height: 300px;
            }}
        ol{
            list-style-type: none;
            li{
                text-align: initial;
            }
        }
        .sd{
            list-style-type: disc;
            li{
                text-align: initial;
            }
        }
    }

}