.user-card{
    display: flex;
    width: 100%;
    justify-content: space-between;   
    align-items: center;
  
    .dots{
        width: 10px;
        margin: 0px 25px 0px 0px;
        height: 32px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .user-img{
     display: flex;
     width: 100%;
        figure{
            width: 70px;
            height: 70px;
        img{
            width: 100%;
            object-fit: contain;
            height: 100%;
        }
        }
    }
    .user-data{
        display: flex;
        flex-direction: column;

        align-items: baseline;
        width: 100%;
        h4{
            font-size: 18px;color: #848489;
            font-family: 'SF Pro Display';
            margin-bottom: 15px;
        }
        p{color: #848489;
            font-size: 16px;
            margin-top: 0;
            font-family: 'SF Pro Display';
        }
        .user-sops{
            display: flex;
            width: 100%;
            ul{
                display: flex;
                flex-direction: column;
                li{
                    width: 100%;
                }
            }
          .status{  
            display: flex;
            flex-direction: column;
            .completed{
                font-size: 14px;
                padding: 10px;
                border-radius: 8px;
                font-family: 'SF Pro Display';
            }
        .incompleted{
            font-size: 14px;
            padding: 10px;
            border-radius: 8px;
            font-family: 'SF Pro Display';
        }
        }
        }
    }
}